body {
  background-color: #f8fafc;
  margin: 2rem;
}

::backdrop {
  background-color: #00000070;
}

h1 + div {
  display: flex;
  align-items: center;
}

.add-book-button {
  border: none;
  background: none;
  transition: all 0.2s;
}

.add-book-button:hover {
  transform: scale(1.1);
}

.add-book-button img{
  height: 3rem;
  aspect-ratio: 1 / 1;
}

table th {
  text-align: left;
}

tr {
  border: 1px solid gray;
  padding: 0.5rem 1.5rem;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 8px;
  background-color: #F5F7FD;
}

thead tr {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #E9EDFB;
}

tbody td {
  display: flex;
  align-items: center;
}

tbody td:last-child {
  display: flex;
  gap: 10px;
  justify-content: end;
}

tbody td:last-child button{
  border: none;
  border-radius: 10px;
  color: white;
  background: #1974D0;
  font-weight: 600;
  padding: 0.4rem;
}

tbody td:last-child button:hover{
  background: #175da3;
}

.table-container {}

table {
  width: 90vw;
  border-collapse: collapse;
}

/* modal */
dialog {
  background: #f8fafc;
  border: 1px solid #E9EDFB;
  border-radius: 10px;
  padding: 2em;
}

form.submit-new-book .input-row{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form.submit-new-book input {
  padding: 0.3rem 1rem;
}

form.submit-new-book button {
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  color: white;
  background: #1974D0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

form.submit-new-book button:hover {
  background: #175da3;
}